# Configuration Production Taylor Shift

# Configuration de base
location        = "francecentral" # France Central (compatible Azure for Students)
subscription_id = "subscription_id"

# Configuration de la base de données
db_admin_user = "tayloradmin"
db_password   = "db_password" 

# Configuration PrestaShop
admin_email               = "email"
prestashop_admin_password = "prestashop_admin_password"